.comment-section {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: left;
}

.comment-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.comment-section form {
  margin-bottom: 10px;
}
